.header {
text-align: center;
color: darkblue;
border: 1em;
padding: 2em;
}

.mainContent {
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    margin: 2em;
    border: 0.5em solid darkblue;
    padding: 3em;
    background-color:aquamarine;    
}

.martinsTips {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    border: 0.5em solid darkblue;
    background-color: aquamarine;
} 
.martinSig {
    color: darkblue;
    font-style: italic;
}

 .footer {
     display: flex;
     flex-direction: column;
     border: 0.5em solid darkblue;
     background-color: aquamarine;
     padding: 0.5em;
 }
 .harvestLocations {
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     margin: 2em;
     border: 0.5em solid darkblue;
     background-color: aquamarine;
     padding: 0.5em;
     
 }
 .locationName {
    color: darkblue;
    font-style: italic;
    font-size: large;
 }

